<% provide(:title, "Contact") %>
<h1>Contact Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ipsa, maiores doloribus totam necessitatibus asperiores nemo repudiandae fugit perspiciatis est aspernatur modi accusamus repellendus veniam, ut error. Nulla provident, sit.</p>